[user]
  name = fcamel
  email = fcamel@gmail.com
[github]
	user = fcamel
[color]
  diff = auto
  status = auto
  branch = auto
  log = auto
[alias]
  ci = commit
  st = status
  unstage = reset HEAD
  conflicts = diff --name-only --diff-filter=U
  outgoing = log origin/devel..devel
  log-deleted = log --
  log-all = log --graph --branches --decorate --oneline
[diff "localizablestrings"]
    textconv = "iconv -f utf-16 -t utf-8"
